.rf-fit-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--rf-fit-grid-min-item-w), 1fr));
  column-gap: var(--rf-fit-grid-col-gap);
  row-gap: var(--rf-fit-grid-row-gap);
}

.rf-fit-grid[data-rf-fit-grid-min-cols] {
  grid-template-columns: repeat(
      auto-fit,
      minmax(
        min(
          calc(
            (
              100% -
              var(--rf-fit-grid-col-gap) *
              (var(--rf-fit-grid-min-cols) - 1)
            ) /
            var(--rf-fit-grid-min-cols)
          ),
          var(--rf-fit-grid-min-item-w)
        ),
        1fr
      )
    );
}

.rf-fit-grid[data-rf-fit-grid-max-cols] {
  grid-template-columns: repeat(
      auto-fit,
      minmax(
        max(
          var(--rf-fit-grid-min-item-w),
          calc(
            (
              100% -
              var(--rf-fit-grid-col-gap) *
              (var(--rf-fit-grid-max-cols) - 1)
            ) /
            var(--rf-fit-grid-max-cols)
          )
        ),
        1fr
      )
    );
}

.rf-fit-grid[data-rf-fit-grid-min-cols][data-rf-fit-grid-max-cols] {
  grid-template-columns: repeat(
      auto-fit,
      minmax(
        min(
          calc(
            (
              100% -
              var(--rf-fit-grid-col-gap) *
              (var(--rf-fit-grid-min-cols) - 1)
            ) /
            var(--rf-fit-grid-min-cols)
          ),
          max(
            var(--rf-fit-grid-min-item-w),
            calc(
              (
                100% -
                var(--rf-fit-grid-col-gap) *
                (var(--rf-fit-grid-max-cols) - 1)
              ) /
              var(--rf-fit-grid-max-cols)
            )
          )
        ),
        1fr
      )
    );
}
